/* Cream of the Crop - an open source xhtml/css website layout by Ben Goldman 
(aka Robobuilder) - http://realalibi.com.com . You are ree to use this template
for any purpose as long as the proper credits are given for the original Design work.

Version: 1.0, Fall 2006 

Main Syle Colors
colors {
	#3C8C06(green), #012346(dark blue), #3270A9(lighter blue), 
	#353535 (dark grey), #999999(light grey), #eeeeee(off-white)
}
*/
html{
	height:100%;
}

body{
	margin:0px;
	padding:0px;
    color:#000;
    background: #e9e9ce url('../images/site/site-background-short.gif') repeat-x top left;   
	font:13px Arial,Verdana,Helvetica,sans-serif;
}

/*Header*/
.bfglogo{
	float:left;
        margin-top: 20px;
        margin-right: 20px;
        border: none;
}

#navcontainer{
	float:right;
    clear:right;
    width:650px;
}

#login_info {
	float: right;
        clear: both;
	color: #fff;
        display: inline;
	position:absolute;
	width:200px;
	margin-top:75px;
	margin-left:600px;
}

#navlist {
	margin-top:32px;
	margin-bottom:25px;
	padding: 10px 20px 0px 10px;
	float:right;
	font-size:120%;
	font:12px Verdana,Arial,Helvetica,sans-serif;
}

#navlist ul, #navlist li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#navlist a:link, #navlist a:visited {
    padding-bottom: 3px;
	float: left;
	line-height: 14px;
	margin: 0 10px 4px 10px;
	text-decoration: none;
	padding:8px;
	color:#fff;

}

#navlist a:hover {
	color: #fff!important;
}

#current {
	background:#4c81b7!important;
	color:#fff;
	padding-left:13px;
	padding-right:13px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

#searchbox{
    float:right;
    clear:both;
    margin-top: 17px;
    margin-right: 35px;
}



#searchbox .search_button {
	background-color:#4c81b7;
	border:1px solid #444;
	font:11px Verdana,sans-serif;
	color:#fff;
	padding:2px 3px;
}

#searchbox_in_body{
    clear:both;
    margin-top: 17px;
    margin-right: 20px;
}



#searchbox_in_body .search_button {
	background-color:#4c81b7;
	border:1px solid #444;
	font:11px Verdana,sans-serif;
	color:#fff;
	padding:5px;
	font-size:150%;
}

#searchbox_in_body .search_box {
	background-color:#fff;
	border:1px solid #444;
	font:11px Verdana,sans-serif;
	color:#black;
	padding:2px 3px;
	font-size:140%;
	height:30px;
}

#header_container {
  height:190px;

}

.heading a {
  background: #fff url('../images/site/feed.gif') no-repeat top left; 
  width:257px;
  height:26px;
  display:block;
  font-size:120%;
  font-style:uppercase;
  padding-top:32px;
}


#header{
    width:900px;
	margin:0 auto;
	text-align:left;

}

#header img {
        margin: 0px;
        padding-left: 11px;
}
	
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
        color:#3270a9;
}

#title{
    clear:both;
    float:left;
	width:200px;
	margin-top:25px;
	margin-left:25px;
	margin-bottom:20px;
}


#banner {
    background:white;
    height :103px;
    width:800px;
    margin:0 auto;
    clear:both;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;  
    padding: 16px;
}

#banner_download {
    background: #fff url('../images/site/downloadimage.png') no-repeat top left;  
    width:280px;
    height:85px;
    float:right;
    padding: 14px 6px 2px 25px;
    
}

#banner_download h2 {
    color:white;
    font-size:135%;
    margin:10px 9px 9px 0px;
}

#banner_download h3 {
    color:white;
    font-size:100%;
    margin:0px 0px 0px 0px;
}

#banner_text {
    float:left;
    width:450px;
    font-size:200%;
    margin: 19px 15px 15px 15px;
    
}

#title a:hover { text-decoration: none; }

/*Construction Styles*/
#container{
	margin:auto;
	padding-bottom:20px;
	width:900px;
}





.box{
	color:#f4ec0b;
	font-size:29px;
}
/*Styles*/

p {
    line-height:18px;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}

li {
    margin-top:15px;
}

h1,h2,h3,h4,h5,h6{
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-weight:lighter;
}
h1{
	color:#4c81b7;
	size:130%;
}
h2{
	color:#4c81b7;
	size:125%;
}
h3{
	color:#4c81b7;
	size:110%;
}
h4{
	color:#4c81b7;
	font-size:100%;
}
h5{
	color:#f00;
	font-size:90%;
}
h6{
	color:#fff;
	font-size:90%;
	font-weight:bold;
}
a{
	text-decoration:none;
	color:#3270A9;
}
a:hover{
	text-decoration:underline;
}
#right a{
	text-decoration:none;
	color:#012346;
}
#right a:hover{
	text-decoration:underline;
}
acronym{
	border-bottom:1px dotted #999;
	padding-bottom:1px;
	cursor:help;
}
del{
	color:#999;
}
.allcaps{
	font-stretch:wider;
	font-variant:small-caps;	
}
p.firstletter:first-letter{
	font-family:Georgia,Verdana,Arial,Helvetica,sans-serif;
	font-size:40px;
	padding:10px 3px 3px 3px;
	float:left;
}


.indent{
	border-left:2px solid #3C8C06;
	margin-left:25px;
	padding-left:8px;
}


.blockquote{
	border-bottom:0px solid #273955;
	border-top:0px solid #273955;
	border-left:4px solid #505050;
	background:url(../images/site/blockquote.png) repeat top left;
	padding:6px 6px 4px 8px;
	margin:12px 0;
	color:#000;
}
.blockquote h5{
	border-bottom:1px solid #3270A9;
	font-size:17px;
	color:#eee;
	margin:2px;
}
.blockquote span{
	padding: 3px 0;
	display:block;
	font-size:10px;
	color:#999;
}
.highlight-paragraph{
	color:#3270a9;
	font-weight:bold;
}
.highlight{
        color: black;
        font-weight: bold;
}
.search-results {
        font-size: 1.5em;
        color: #000;
}
.search-title a{
        font-size: 1.2em;
        font-weight: bold;
}
.search-teaser{
        font-size: 0.9em;
}
.search-link a:link, .search-link a:visited {
        color: #308006;
}

.header{
        font-size:200%;
        height:26px;
        padding-top:15px;
        border-bottom:1px solid #AAA;
        color:#4C81B7;
}

.entryheader{
	color:#000;
        font-weight:bold;
	letter-spacing: -1px;
}
.newsheader{
	color:#fff;
        padding-left: 5px;
	font-size:14px;
	letter-spacing: -1px;
        background-color:#231eff;
        line-height: 200%;
}
.news{
    border:0 none;
    line-height:130%;
    margin:0!important;
    width:196px;
    background:white;
}
.news ul{
        list-style:none;
}
.news ul li {
        padding: 0px;
}

.news ul li a {
        color:black;
}

.news p{
	padding:0;
}
/*Floats*/
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.w50{
	width:50%;
}
.floatleft p{
	padding:0 10px 0 0; 
}
.floatright p{
	padding:0 0 0 10px;
}
img.floatleft{
	margin:15px 18px 5px 0;
}
img.floatright{
	margin:15px 5px 5px 18px
}

div.bfgform {
    text-align: left;
}

div.bfgform input {
	font:11px Verdana,Arial,Helvetica,sans-serif;
	border:1px solid #AAA;
}

/*Content Styles*/
#content{
    padding:10px 40px 30px;
    width:777px;
	margin:0 auto;
	color:#000;
	background:#ffffff;
	height:auto;
	display:relative;
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    min-height:300px;
}

#column_one{
	width:465px;
    float:left;
    background:white;
}

#column_two{
    width:272px;
    float:right;
    margin:0 0 15px 15px;
    background:white;
}

#column_two li a {
    color:#4c81b7;
}

#blogposts li a {
   color:#000; 
}

/*Due to my lack of CSS skill this is hard coded, meaning that if you change 
the width of these sections of thier padding you will need to re-adjust the
width. Also be sure to account for the border.*/
#twocolumn{
	background: #999 url(../images/site/2columnbg.jpg) repeat-y top left;
	width: 800px;
	border-bottom: 1px solid #999;
	font:11.3px Verdana,Arial,Helvetica,sans-serif;
	color: #eee;
}
#left{
	width:375px;
	padding:10px;
	height:100%;
	float:left
}
#right{
	width:375px;
	padding:10px;
	height:100%;
	float:right;
}
#clearboth{ clear:both; }

/*Sub-Nav*/
#subnav{
	float:right;
	margin-top:10px;
}
#subnavcontainer {
	width: 200px;	
}
#subnavcontainer ul
{
	padding-top:0px;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
#subnavcontainer a
{
	display:block;
	padding:4px;
	width:160px;
	background-color:transparent;
	border-bottom:1px solid #03509C;
}
#subnavcontainer a:link, #subnavlist a:visited
{
	color:#EEE;
	text-decoration:none;
}
#subnavcontainer a:hover
{
	background-color:#384B6D;
	color:#fff;
}
.subnavheader{
	border-bottom:1px solid #3C8C06;
	width:167px;
	padding:0 0 3px 0;
	margin-bottom:-11px;
}
/*Footer*/
#footer{
	width:808px;
	margin:0 auto;
	padding:15px;
	clear:both;
	color: #000;
	font-size: 90%;
	height:30px; 
	line-height:25px;
	border:0;
}

#footer a{
	color:#000;
}



.copy{
	float:left;
}
.credit{
	float:right;
}
#footer a{
	text-decoration:underline;
	color:black;
}

fieldset {
    border: 0;
    padding:0;
    margin:0;
}

.source {
    overflow:auto;
    width:520px;
}

.linenos {
    vertical-align:text-top;
}