/* override some trac styles */

#ctxtnav {
        background-color: #fff;
        padding-top: 8px;
        width:856px;
        margin: 0 auto;
}



.nav {
        background-color: #fff;
        padding-bottom: 8px;
}

.nav ul {
        color: #000;
}

:link, :visited {
        border-bottom:1px dotted #BBBBBB;
        color:#3270a9;
        text-decoration:none;
}

#mainnav {
    background-color:#FFFFFF;
    margin:0 auto;
    width:852px;
}

#content.error, div.system-message {
        margin: 0;
        padding:0.5em;
}

#altlinks {
        padding: 8px;
        color: #000;
}

.fullrow, .col1, .col2 {
        border: 0;
}

#searchbox form {
        padding-bottom: 0;
        margin-bottom: 0;
}

.properties th, #stats th {
        font-weight: bold;
}

.properties td, #stats td {
        border: 0;
}

#footer :link, #footer :visited {
color:#000000;
}



